/* Untuk Tablet */
@media all and (max-width: 1000px) {
  .lesson {
    width: 50%;
    margin-bottom: 50px;
  }

  .top-wrapper h1 {
    font-size: 32px;
    text-align: center;
  }

  .heading h2 {
    font-size: 40px;
  }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .lesson {
    width: 100%;
  }

  footer {
    text-align: center;
  }

  .top-wrapper {
    text-align: left;
  }

  /* Tambahkan CSS untuk header-right */
  .header-right{
    display:none;
  }



  .top-wrapper h1 {
    font-size: 20px;
    line-height: 36px;
  }

  .top-wrapper p {
    font-size: 14px;
    line-height: 20px;
  }
}
